.App {
  text-align: left;
  display: grid;
  grid-template-rows: 20% auto 15%;
  grid-template-columns: 20% auto 20%;
  font-family: 'Open Sans', san-serif;
}
.header {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #F94E58
}
.map-container {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  border: 1px solid #268CA9;
  margin-top: 5rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 525;
  letter-spacing: 1rem;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  color: white;
}